@use 'sass:math';

@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import 'bootstrap/scss/variables';

.wp-block-carousel__swiper {
  &.wp-block-carousel--navigation:not(.wp-block-carousel--all-items-visible) > .swiper {
    max-width: 88.8889%;
    margin-right: auto;
    margin-left: auto;

    @for $i from 4 through 17 {
      .col-lg-#{$i} & {
        max-width: calc(calc(calc(#{$i} - 2) / #{$i}) * 100%);
      }
    }
  }

  .swiper-button {
    z-index: 20;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s;

    &-disabled {
      opacity: 0;
    }

    &-prev {
      left: 1rem;
    }

    &-next {
      right: 1rem;
    }
  }

  .swiper-pagination {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 1rem;
      margin: 0.25rem;
      background-color: $white;
      opacity: 0.5;

      &-active {
        background-color: $white;
        opacity: 1;
      }
    }
  }

  .is-nowrap {
    @include media-breakpoint-down(md) {
      flex-wrap: wrap !important;
    }
  }

  .swiper-slide {
    height: auto;
  }
}
