@import './../config/variables';

.wp-block-carousel {
  .swiper {
    &:hover {
      .swiper-button {
        opacity: 1;
      }
    }

    &-pagination {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 15px 20px;

      &-bullet {
        display: block;
        width: 15px;
        height: 15px;
        margin: 5px;
        background-color: $light;
        border-radius: 50%;
        content: "";
        cursor: pointer;

        &-active {
          background-color: $primary;
        }
      }
    }

    &-button {
      position: absolute;
      z-index: 10;
      top: 50%;
      margin-top: -15px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease;

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }

      &::before {
        color: $light;
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  &__title {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: $white;
  }
}
