@use 'sass:math';

@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import 'bootstrap/scss/variables';

.wp-block-carousel {
  &.wp-block-carousel--navigation:not(.wp-block-carousel--all-items-visible) > .swiper {
    max-width: 88.8889%;
    margin-right: auto;
    margin-left: auto;

    @for $i from 4 through 17 {
      .col-lg-#{$i} & {
        max-width: calc(calc(calc(#{$i} - 2) / #{$i}) * 100%);
      }
    }
  }

  .swiper-button {
    z-index: 20;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s;

    &-disabled {
      opacity: 0;
    }
  }

  .is-nowrap {
    @include media-breakpoint-down(md) {
      flex-wrap: wrap !important;

      .has-xx-large-font-size {
        padding-right: var(--wp--custom--spacing--outer) !important;
        padding-left: var(--wp--custom--spacing--outer) !important;
      }
    }
  }

  // &--half-slides {
  //   > .swiper::after {
  //     position: absolute;
  //     z-index: 1;
  //     top: 0;
  //     right: 0;
  //     width: 20vw;
  //     height: 100%;
  //     background: linear-gradient(90deg, rgba($white, 0%), $white);
  //     content: '';
  //     opacity: 0;
  //     pointer-events: none;
  //     transition: opacity 0.3s;
  //   }

  //   &:not(.wp-block-carousel--end) {
  //     > .swiper::after {
  //       opacity: 1;
  //     }
  //   }
  // }

  .has-xx-large-font-size {
    line-height: 1;
  }

  .swiper-slide {
    height: auto;
  }
}
