@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import './../common/mixins';
@import 'bootstrap/scss/variables';

.wp-block-hero {
  position: relative;
  min-height: 600px;
  padding-top: 100px;
  padding-bottom: 100px;

  @include heading-color-inherit;
  @include aligns-content;

  &__content {
    position: relative;
    z-index: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  &__background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down(sm) {
    min-height: auto;
    padding-top: var(--wp--style--root--padding-right);
    padding-bottom: var(--wp--style--root--padding-right);
  }
}
