.wp-block-hero {
  position: relative;
  z-index: 0;
  min-height: 800px;

  @include heading-color-inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
