@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import './../common/mixins';
@import 'bootstrap/scss/variables';

.wp-block-image-content {
  &__content__blocks > :last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    &.alignfull {
      .wp-block-image-content__content {
        padding-right: var(--wp--style--root--padding-right);
        padding-left: var(--wp--style--root--padding-left);
      }
    }
  }

  @include media-breakpoint-up(md) {
    --image-content-gap: 0px;

    display: grid;
    gap: var(--image-content-gap);
    grid-template-columns:
    1fr
    repeat(12, calc(
      (
        min(
          calc(100% - var(--wp--style--root--padding-right) * 2),
          var(--wp--style--global--wide-size)
        ) - (11 * var(--image-content-gap))
      ) / 12
    ))
    1fr;

    &:not(.alignfull) {
      grid-template-columns: repeat(12, calc(
        (
          min(
            100%,
            var(--wp--style--global--wide-size)
          ) - (11 * var(--image-content-gap))
        ) / 12
      ));
    }

    .align-self-stretch.wp-block-image-content__image {
      img {
          position: absolute;
          right: 0;
          left: 0;
          min-height: 100%;
          object-fit: cover;
      }
    }

    &__content {
      grid-column: 8 / span 6;
    }

    &.is-position-center {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: center;
      }
    }

    &.is-position-top {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: flex-start;
      }
    }

    &.is-position-bottom {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: flex-end;
      }
    }
  }


  &__image {
    grid-column: 1 / span 7;
  }
}
