@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import './../config/variables';
@import './../common/mixins';
@import 'bootstrap/scss/variables';

.wp-block-image-content {
  &__content {
    padding: 50px 0;
  }

  @include media-breakpoint-down(md) {
    &.alignfull {
      .wp-block-image-content__content {
        padding: 50px var(--wp--custom--spacing--outer);
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr repeat(12, calc((min(calc(100% - var(--wp--custom--spacing--outer) * 2), var(--wp--style--global--wide-size))) / 12)) 1fr;

    &:not(.alignfull) {
      grid-template-columns: repeat(12, calc((min(100%, var(--wp--style--global--wide-size))) / 12));
    }

    .align-self-stretch.wp-block-image-content__image {
      img {
          position: absolute;
          right: 0;
          left: 0;
          min-height: 100%;
          object-fit: cover;
      }
    }

    &__content {
      grid-column: 8 / span 6;
    }

    &.is-position-center {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: center;
      }
    }

    &.is-position-top {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: flex-start;
      }
    }

    &.is-position-bottom {
      .wp-block-image-content__image,
      .wp-block-image-content__content {
        align-self: flex-end;
      }
    }
  }


  &__image {
    grid-column: 1 / span 7;
  }
}
